mark {
    background-color: rgba(70, 221, 248, 0.3);
    border-radius: 3px;
}

img {
    width: 100%;
    padding-bottom: 15px;
    height: auto;
}

video {
    width: 100% !important;
    height: auto !important;
}

.row {
    margin: 0;
}

p {
    background-color: inherit;
}

/* Loading Animation */

@keyframes spinner-border {
    to { transform: rotate(360deg); }
} 
.spinner-border{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
.spinner-border-sm{
    height: 1rem;
    border-width: .2em;
}
#loader {
    max-width: 90%;
    max-height: 70%;
    width: 300px;
	height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
    margin: auto;
    z-index: 5000;
}
#loading_next_title {
    margin-top: 35px;
    padding: 15px;
}

/* Message display */

#error_display {
    background-color: rgb(255, 100, 100);
    color: black;
    width: 80%;
    float: left;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    display: none;
    border-radius: 5px;
}
#info_display {
    color: black;
    width: 80%;
    float: left;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    display: none;
    border-radius: 5px;
}

/* Tutorial */

#dark-layer,
#trans-layer {
    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: -1;
}

#tut-message {
    position: fixed;
    margin: 0;
    padding: 0;

    top: 50%;
    left: 20%;
    right: 20%;

    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    z-index: -1;

    font-size: 30px;
    text-align: center;
}

#tut-continue-message {
    position: fixed;
    margin: 0;
    padding: 0;

    color: white;
    background: rgba(0, 0, 0, 0.0);
    border-radius: 10px;
    z-index: -2;

    font-size: 30px;
    text-align: center;
}

#objective-text {
    margin-left: 5px;
    margin-right: 5px;
}

.bold {
    font-weight: bold;
}