#red_highlight {
    background-color: #ffadad;
    border-radius: 3px;
    color: darkslategray;
}

.prefixes {
    background-color: snow !important;
    color: black !important;
    z-index: 100 !important;
    position: sticky !important;
    text-decoration: underline;
    font-style: italic;
    pointer-events: none;
}

#word_modal_text {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.pagination {
    margin-top: 10px;
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

li {
    margin: 10px 0;
}